.body {
  width: 1000px;
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
}

.content {
  display: inline-block;
}

h1 {
  font-size: 450%;
  font-weight: bold;
}

.page-header {
  font-size: 150%;
}

.winner-text {
  font-size: 200%;
  margin-left: 18%;
  margin-right: 0%;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

button {
  margin: 5px;
}

.results {
  margin-left: 10px;
}

.toggle-btns {
  width: 1000px;
  margin-top: 40px;
  margin-bottom: 80px;
  overflow: hidden;
}

.dem-btn {
  float: left;
  background-color: blue;
  font-weight: bold;
}

.dem-btn:hover {
  background-color: blue;
  opacity: 0.75;
  cursor: pointer;
}

.rep-btn {
  float: right;
  background-color: red;
  font-weight: bold;
}

.rep-btn:hover {
  background-color: red;
  opacity: 0.75;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  margin-top: 0%;
  margin-left: 500px;
  /* margin-right: 25%; */
}

.dropdown select {
  margin-left: 20%;
}
